html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.page-body {
    font-family: sans-serif;
    background: url("../img/background.png") no-repeat fixed center;
    background-size: cover;
}
.container {
    width: 1030px;
    margin: 0 auto;
}
.logo-contacts {
    padding-top: 46px;
    padding-bottom: 19px;
    display: grid;
    grid-template-columns: 201px 219px;
    justify-content: space-between;
}
.logo-title {
    display: grid;
    grid-template-columns: 53px 1fr;
    grid-column-gap: 8px;
    grid-template-areas:
    "logo title1"
    "logo title2";
}
.logo-img {
    position: relative;
    grid-area: logo;
}
.logo-top-title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    grid-area: title1;
    margin: 0;
}
.logo-bottom-title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    grid-area: title2;
    margin: 0;
}
.contacts {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-row-gap: 19px;
}
.email {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    justify-self: end;
}
.phone-num {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    justify-self: end;
}
.logo-title:hover .logo-top-title {
    color: #F26522;
}
.logo-title:hover .logo-bottom-title {
    color: #F26522;
}
.logo-img-hover {
    position: absolute;
    z-index: -1;
}
.logo-title:hover .logo-img-hover {
    z-index: 1;
}
.email:hover {
    color: #F26522;
}
.phone-num:hover {
    color: #F26522;
}
.card-list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 61px;
    grid-row-gap: 37px;
    padding-left: 0;
}
.card-name {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}
.card-content {
    background-color: #F26522;
    overflow: hidden;
    position: absolute;
    transition: 0.5s ease;
    bottom: 42px;
    height: 0;
    left: 0;
    right: 0;
}
.small-text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
    margin: 0;
}
.desc {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 32px;
    margin-top: 8px;
    margin-bottom: 0;
}
.price {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.view-link {
    color: #FFFFFF;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}
.view-link::after {
    content: url("../img/vector.png");
    background-size: 5px 10px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: calc(100% + 16px);
}
.card-item {
    position: relative;
}
.card-item:hover .card-content {
    display: block;
    height: 55px;
}
.card-item:hover .card-name {
    color: #F26522;
}
.card-img {
    border: 1px solid;
    border-image: linear-gradient(to bottom, #fff 100%, #eee 0%);
}
.copyright {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 49px;
    padding-bottom: 15px;
    text-align: center;
}